/* Circular gauge */
#circulargauge-speed {
	position: relative;
    height: 100%;
    width: 100%;
	z-index: 10;
}

/* Odometer */
#odometer-kmtotal, #odometer-kmsector {
	font-size: 4.5vw;
	position: absolute;
	visibility: hidden;
    z-index: 0;
}

/* Countdown */
.main, #regtest {
    height: 100%;
    width: 100%;	
}

#textbox-regtestseconds {
	border-color: Ivory;
}

.dx-widget input {
	font-family: 'Tripmaster Font';
	font-size: 7.5vw;
	text-align: center;
	background-color: Ivory;
}
