/* Circular gauge */
#circulargauge-speed {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10;
}

/* Odometer */
#odometer-kmtotal, #odometer-kmsector {
    font-size: 5vw;
    position: absolute;
    visibility: hidden;
    z-index: 0;
}


#right-sector {
	justify-content: center;
}

.flex-column {
    height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: space-around;
}

.status-indicator {
    position: absolute;
    visibility: hidden;
    font-family: 'Tripmaster Font';
    font-size: 4vw;
    color: lightgray;
}

/* Countdown */
.main, #regtest {
    height: 100%;
    width: 100%;    
}

#textbox-regtesttime {
    border-color: Ivory;
}

.dx-widget input {
    font-family: 'Tripmaster Font';
    font-size: 7.5vw;
    text-align: center;
    background-color: Ivory;
}
