.tm-background-output {
    background: Linen;
}

.metal-button {
    width: 11vmax;
    height: 11vmax;
    margin-left: 1vmax;
}

/* TabPanel */
.dx-field-label {
	font-size: 3vmax;
}

.dx-tabpanel .dx-multiview-wrapper {
    padding-top: 3vmax;
}

.dx-tab-selected .dx-icon {
    color: var(--tm-blue) !important;
}
.dx-tab .dx-icon {
    color: gray;
}

/* Rechte Spalte */
.col50 {
    width: 50%;
}

.flex-row-stretch {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
    padding: 1vmax 2.5vmax;
}

.space-evenly {
	justify-content: space-evenly;
}
	
.dx-popup-content > .flex-row-stretch, .label-key {
    padding: 1vmax 0;
}

.flex-row-stretch > div {
	display: flex;
	align-items: center;
}

.flex-row-stretch div:nth-child(1), .label-key {
    font-size: 3vmax;
}

/* Setup Tab */
.dx-tab .dx-icon {
	font-size: 4vmax;
}

/* TextBox */
.dx-textbox-red {
	border: 1px var(--tm-red) solid ;
}
.dx-texteditor.dx-state-readonly {
    border-color: #ddd;
}

.tenseconds {
	font-weight: bold;
	animation-name: tenseconds;
	animation-duration: 10s;
}

.secondyellow {
	font-weight: bold;
	animation-name: yellow;
	animation-duration: 1s;
}

.secondred {
	font-weight: bold;
	animation-name: red;
	animation-duration: 1s;
}

.flicker {
	font-weight: normal;
	animation-name: flicker;
	animation-duration: 0.5s;
}

/* Standard syntax */
@keyframes yellow {
	0%  {background-color: var(--tm-yellow); color: white;}
	100%   {background-color: white; color: var(--tm-yellow);}
}

@keyframes red {
	0%  {background-color: var(--tm-red); color: white;}
	100%   {background-color: white; color: var(--tm-red);}
}

@keyframes flicker {
	0%  {background-color: white; color: var(--tm-red);}
	16%  {background-color: var(--tm-red); color: white;}
	33%  {background-color: white; color: var(--tm-red);}
	50%  {background-color: var(--tm-red); color: white;}
	66%  {background-color: white; color: var(--tm-red);}
	83%  {background-color: var(--tm-red); color: white;}
	100% {background-color: white; color: black;}
}
