[Desktop Entry]
Name=TM Debug
Comment=Startet den Tripmaster im DEBUG-Modus
Icon=/usr/share/pixmaps/python3.7.xpm
Exec=lxterminal -t "TM Debug" -e start_tripmaster_debug.sh
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None

