
/* TabPanel */
.dx-tab, .dx-switch, .dx-field-label {
	font-size: 5vw;
}

/* Button */
.dx-button, .dx-viewport .dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button),
.dx-viewport .dx-field-label {
    float: none;
    width: 100%;
}

/* TextBox */
.dx-textbox-red {
	border: 1px #d9534f solid ;
}
.dx-textbox-black {
	border: 1px blue solid;
}

/* Setup Tab */

.setupTab .dx-field-label {
	font-size: 6vw;
}

.flex-row {
	display: flex;
	align-items: center;
}

.flex-row-stretch {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#reset-tripmaster {
	margin-top: 30px;
}