<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tripmaster Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/static/dx.common.css" />
	<link rel="stylesheet" type="text/css" href="/static/dx.light.css" />
    <link rel="dx-theme" data-theme="generic.light" href="/static/dx.light.css" />
	<link rel="stylesheet" href="/static/odometer-theme-car.css" />
    <link rel="stylesheet" type="text/css" href="/static/tm.common.css" />
    <link rel="stylesheet" type="text/css" href="/static/tm.dashboard.css" />
    <script src="/static/jquery.min.js"></script>
    <script src="/static/dx.all.js"></script>
    <script src="/static/tm.dashboard.js"></script>
    <script src="/static/tm.common.js"></script>
    <script src="/static/odometer.js"></script>
    <script src="/static/websocket.js"></script>
    <script src="/static/screenfull.min.js"></script>
    <script>
		var DEBUG = {{ debug }};
		var SAMPLE_TIME = {{ sample_time }};
		var SECTOR_REVERSE = {{ sector_reverse }};
		window.jQuery || document.write(decodeURIComponent('%3Cscript src="static/jquery.min.js"%3E%3C/script%3E'))
	</script>
	<style>
	.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-car.odometer-animating-up .odometer-ribbon-inner {
	  -webkit-transition: -webkit-transform {{ sample_time / 1000 }}s linear;
	  -moz-transition: -moz-transform {{ sample_time / 1000 }}s linear;
	  -ms-transition: -ms-transform {{ sample_time / 1000 }}s linear;
	  -o-transition: -o-transform {{ sample_time / 1000 }}s linear;
	  transition: transform {{ sample_time / 1000 }}s linear;
	</style>
</head>
<body onload="WebSocket_Open('dashboard')" class="dx-viewport demo-container">
	<div id="button-reloadpage"></div>
	
	<span class="main">
	<div id="odometer-kmsector"></div>
	<div id="odometer-kmtotal" class="odometer"></div>
    
	<div id="box-twocolumn">
        <div class="tm-background" data-options="dxItem: {ratio: 2}">
			<div id="circulargauge-speed" onClick="fullScreen();"></div>
        </div>
        <div class="tm-background" data-options="dxItem: {ratio: 1}">
			<div id="lineargauge-kmsector" onClick="WebSocket_Send('resetSector');"></div>
        </div>
    </div>
	</span>
	
	<script>
		window.addEventListener("resize", resizeAndPosition);
		var odoKmTotal = document.getElementById("odometer-kmtotal");
		var odoKmSector = document.getElementById("odometer-kmsector");
		// odometer-kmsector
		od = new Odometer({
		  el: odoKmSector,
		  digits: 4,
		});
	</script>
</body>
</html>