<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Tripmaster</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <link rel="manifest" href="/static/json/tm.index.json">
		<link rel="stylesheet" type="text/css" href="/static/css/dx.common.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/dx.light.css" />
		<link rel="dx-theme" data-theme="generic.light" href="/static/css/dx.light.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/tm.common.css" />
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/dx.all.js"></script>
		<script src="/static/js/tm.index.js"></script>
		<script>
			window.jQuery || document.write(decodeURIComponent('%3Cscript src="static/jquery.min.js"%3E%3C/script%3E'))
		</script>
	</head>
	<body class="dx-viewport tm-background">
		<div class="flex-column" style="height: 100%; justify-content: space-evenly;">
			<h1>Tripmaster</h1>
			<div id="button-dashboard"></div>
			<div id="button-settings"></div>
		</div>
		<script>
		</script>
	</body>
</html>