<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tripmaster Settings</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link rel="manifest" href="/static/json/tm.settings.json">
	<link rel="stylesheet" type="text/css" href="/static/css/dx.common.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/dx.light.css" />
    <link rel="dx-theme" data-theme="generic.light" href="/static/css/dx.light.css" />

    <link rel="stylesheet" type="text/css" href="/static/css/tm.common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/tm.settings.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/dx.all.js"></script>
    <script src="/static/js/tm.settings.js"></script>
    <script src="/static/js/tm.common.js"></script>

    <script src="/static/js/websocket.js"></script>
    <script src="/static/js/screenfull.min.js"></script>
    <script>
		var DEBUG = {{ debug }};
		var SAMPLE_TIME = {{ sample_time }};
		var REVERSE = ('{{ sector_reverse }}' === 'False');
		window.jQuery || document.write(decodeURIComponent('%3Cscript src="static/jquery.min.js"%3E%3C/script%3E'))
		
		var TYRE_SIZE = {{ tyre_size }};
	</script>
</head>
<body onload="WebSocket_Open('settings')" class="dx-viewport">
	<div id="button-reloadpage"></div>
		<div id="tabpanel-settings" class="main">
			<script id="tab-sector" type="text/html">
				<div class="dx-fieldset tm-background-input" style="padding: 20px 10px; margin: 10px 10px;">
					<div class="dx-field">
						<div class="dx-field-value">
							<div id="button-resetsector"></div>
						</div>
					</div>
					<div class="dx-field">
						<div class="dx-field-value">
							<div id="button-setsector"></div>
						</div>
					</div>
					<div class="dx-field flex-row">
						<div class="dx-field-value">
							<div id="numberbox-sector1000m"></div>
						</div>
						<div class="dx-field-value">
							<div id="numberbox-sector100m"></div>
						</div>
					</div>
					<div class="dx-field flex-row">
						<div class="dx-field-label">Umkehren</div>
						<div class="dx-field-value">
							<div id="switch-reverse"></div>
						</div>
					</div>
				</div>
				
				<div class="sector-box">
					<div data-options="dxItem: {ratio: 1.1}">
						<div id="lineargauge-kmsector"></div>
					</div>
					<div data-options="dxItem: {ratio: 0.9}">
						<div class="dx-fieldset" style="padding: 20px 10px; margin: 10px 10px;">
							<div class="dx-field-label">Vorgabe</div>
							<div class="dx-field-value">
								<div id="textbox-sectorpreset"></div>
							</div>
							<div class="dx-field-label">Zähler</div>
							<div class="dx-field-value" id="tab0_sectorcounter">
								<div id="textbox-sectorcounter"></div>
							</div>
						</div>
					</div>
				</div>
			</script>

			<script id="tab-regtest" type="text/html">
				<div class="dx-fieldset tm-background-input" style="padding: 20px 10px; margin: 10px 10px;">
					<div class="dx-field">
						<div class="dx-field-value">
							<div id="button-resetregtest"></div>
						</div>
					</div>
					<div class="dx-field">
						<div class="dx-field-value">
							<div id="button-setregtest"></div>
						</div>
					</div>
					<div class="dx-field flex-row">
						<div class="dx-field-value">
							<div id="numberbox-regtestminute"></div>
						</div>
						<div class="dx-field-value">
							<div id="numberbox-regtestsecond"></div>
						</div>
					</div>
					<div class="dx-field flex-row">
						<div class="dx-field-value">
							<div id="numberbox-regtest1000m"></div>
						</div>
						<div class="dx-field-value">
							<div id="numberbox-regtest100m"></div>
						</div>
					</div>
					<!-- <div class="dx-field flex-row"> -->
						<!-- <div class="dx-field-value"> -->
							<!-- <div id="numberbox-regteststarthour"></div> -->
						<!-- </div> -->
						<!-- <div class="dx-field-value"> -->
							<!-- <div id="numberbox-regteststartminute"></div> -->
						<!-- </div> -->
						<!-- <div class="dx-field-value"> -->
							<!-- <div id="numberbox-regteststartsecond"></div> -->
						<!-- </div> -->
					<!-- </div> -->
				</div>
				<div class="dx-fieldset" style="padding: 20px 10px; margin: 10px 10px;">
					<div class="dx-field flex-row">
						<div class="dx-field-label">Zeit</div>
						<div class="dx-field-value flex-row-stretch">
							<div id="textbox-regtestseconds"></div>
						</div>
					</div>
					<div class="dx-field flex-row">
						<div class="dx-field-label"></div>
						<div class="dx-field-value flex-row-stretch">
							<div id="textbox-regtestminutes"></div>
						</div>
					</div>
					<div class="dx-field flex-row-stretch">
						<div class="dx-field-label">Strecke</div>
						<div class="dx-field-value">
							<div id="textbox-regtestlength"></div>
						</div>
					</div>
					<div class="dx-field flex-row">
						<div class="dx-field-label">&#216; Geschwind.</div>
						<div class="dx-field-value flex-row-stretch">
							<div id="textbox-regtestavgspeed"></div>
						</div>
					</div>
				</div>
			</script>
			
			<script id="tab-setup" type="text/html">
				<div class="dx-fieldset tm-background-input" style="padding: 20px 10px; margin: 10px 10px;">
					<div class="dx-field flex-row">
						<div class="dx-field-label">Pausieren</div>
						<div class="dx-field-value">
							<div id="switch-pausetripmaster"></div>
						</div>
					</div>
					<div class="dx-field flex-row">
						<div class="dx-field-label">Sound</div>
						<div class="dx-field-value">
							<div id="switch-enablesound"></div>
						</div>
					</div>
					<div class="dx-field flex-row">
						<div class="dx-field-label">Radumfang</div>
						<div class="dx-field-value flex-row-stretch">
							<div id="numberbox-tyresize"></div>
							<div id="button-settyresize"></div>
						</div>
					</div>
				</div>
				<div class="dx-fieldset tm-background-input" style="padding: 20px 10px; margin: 10px 10px;">
					<div class="dx-field" id="reset-tripmaster">
						<div class="dx-field-value">
							<div id="button-reset-tripmaster"></div>
						</div>
					</div>
				</div>
				<div class="dx-fieldset" style="padding: 20px 10px; margin: 10px 10px;">
					<div class="dx-field flex-row">
						<div class="dx-field-label">Etappe</div>
						<div class="dx-field-value flex-row-stretch" id="tab2_sectorcounter">
							<div></div>
						</div>
					</div>
					<div class="dx-field flex-row">
						<div class="dx-field-label">Rallye</div>
						<div class="dx-field-value flex-row-stretch">
							<div id="textbox-rallyecounter"></div>
						</div>
					</div>
					<div class="dx-field flex-row">
						<div class="dx-field-label">Gesamt</div>
						<div class="dx-field-value flex-row-stretch">
							<div id="textbox-totalcounter"></div>
						</div>
					</div>
				</div>
			</script>
		</div>
</body>
</html>