<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tripmaster Settings</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="manifest" href="/static/json/tm.settings.json">
    <link rel="stylesheet" type="text/css" href="/static/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dx.light.css" />
    <link rel="dx-theme" data-theme="generic.light" href="/static/css/dx.light.css" />
    <link rel="stylesheet" href="/static/css/fontawesome.all.min.css"/>
	<link rel="preload" href="/static/css/fonts/Alternate Gothic.otf" as="font" crossorigin="anonymous">
	
    <link rel="stylesheet" type="text/css" href="/static/css/tm.common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/tm.settings.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/dx.all.js"></script>
    <script src="/static/js/tm.settings.js"></script>

    <script src="/static/js/tm.common.js"></script>
    <script src="/static/js/websocket.js"></script>
    <script>
        var DEBUG = {{ debug }};
        var SAMPLE_TIME = {{ sample_time }};
        window.jQuery || document.write(decodeURIComponent('%3Cscript src="static/jquery.min.js"%3E%3C/script%3E'))
        var REVERSE = ('{{ sector_reverse }}' === 'True');
        var ACTIVE_CONFIG = '{{ active_config }}';
    </script>
</head>
<body onload="WebSocket_Open('settings')" class="dx-viewport">
    <div id="reloadpage">
        <div>Tripmaster Settings</div>
        <div id="button-reloadpage"></div>
    </div>
    <div id="tabpanel-settings" name="main">
    
        <!-- Abschnitt -->
        <script id="tab-sector" type="text/html">
            <div class="flex-row">
                <div>Abschnitt</div>
                    <div>
                    <div id="button-reverse"></div>
                    <div id="button-setsector"></div>
                    <div id="button-resetsectorpreset"></div>
                </div>
            </div>
            <div class="flex-row">
                <div id="numberbox-sectorpreset"></div>
            </div>
            <div class="flex-row tm-background-output">
                <div>Abschnitt</div>
                <div class="col50">
                    <div id="textbox-sector"></div>
                </div>
            </div>
            <div class="flex-row tm-background-output">
                <div>Vorgabe</div>
                <div class="col50">
                    <div id="textbox-sectorpreset"></div>
                </div>
            </div>
             <div class="flex-row tm-background-output">
                <div>Rest</div>
                <div class="col50">
                    <div id="textbox-sectorpresetrest"></div>
                </div>
            </div>
            <div class="flex-row">
                <div>Etappe: Start</div>
                <div class="col50">
                    <div id="datebox-stagestart"></div>
                </div>
            </div>
            <div class="flex-row">
                <div>Etappe: Ziel</div>
                <div class="col50">
                    <div id="datebox-stagefinish"></div>
                </div>
            </div>
             <div class="flex-row tm-background-output">
                <div id="label-stagetimeto">Vebleibende Zeit</div>
                <div class="col50">
                    <div id="textbox-stagetimeto"></div>
                </div>
            </div>
            <div class="flex-row tm-background-output">
                <div>Etappe</div>
                <div class="col50">
                    <div id="textbox-stage"></div>
                </div>
            </div>
            <div class="flex-row tm-background-output">
                <div>Rallye</div>
                <div class="col50">
                    <div id="textbox-rallye"></div>
                </div>
            </div>
        </script>

        <!-- Zählpunkte -->
        <script id="tab-countpoint" type="text/html">
            <div class="flex-row">
                <div id="datagrid-countpoint"></div>
            </div>
        </script>

        <!-- Orientierungskontrollen -->
        <script id="tab-checkpoint" type="text/html">
            <div class="flex-row">
                <div id="datagrid-checkpoint"></div>
            </div>
        </script>

        <!-- GLP -->
        <script id="tab-regtest" type="text/html">
        
            <!-- Einstellungen -->
            <div class="flex-row">
                <div>Gleichmäßigkeits-<br>prüfung</div>
                <div>
                    <div id="button-setregtest"></div>
                    <div id="button-resetregtest"></div>
                </div>
            </div>
            <div class="flex-row">
                <div id="numberbox-regtesttime"></div>
            </div>
            <div class="flex-row">
                <div id="numberbox-regtestdistance"></div>
            </div>
            <div class="flex-row">
                <div id="numberbox-regtestspeed"></div>
            </div>
            
            <!-- Anzeige -->
            <div class="flex-row tm-background-output">
                <div>Zeit</div>
                <div class="col50">
                    <div id="textbox-regtesttime"></div>
                </div>
            </div>
            <div class="flex-row tm-background-output">
                <div class="col50">
                    <div id="textbox-regtestminutes"></div>
                </div>
                <div class="col50">
                    <div id="textbox-regtestminutesdecimal"></div>
                </div>
            </div>
            <div class="flex-row tm-background-output">
                <div>Strecke</div>
                <div class="col50">
                    <div id="textbox-regtestdistance"></div>
                </div>
            </div>
            <div class="flex-row tm-background-output">
                <div>&#216; Geschwind.</div>
                <div class="col50">
                    <div id="textbox-regtestspeed"></div>
                </div>
            </div>
        </script>
        
        <!-- Setup -->
        <script id="tab-setup" type="text/html">
            <div class="flex-row">
                <div>Rallye</div>
                <div>
                    <div id="button-newrallye"></div>
                    <div id="button-download"></div>
                    <div id="popup-download">
                        <div id="datagrid-files"></div>
                    </div>
                </div>
            </div>

            <div class="flex-row">
                <div id="button-1"></div>
                <div id="button-2"></div>
                <div id="button-3"></div>
                <div id="button-4"></div>
            </div>
            <div id="popup-setbutton">
                <div id="selectbox-checkpoint"></div>
            </div>
            
            <div class="flex-row">
                <div>Tripmaster</div>
                <div>
                    <div id="button-togglesound"></div>
                    <div id="button-startdebug"></div>
                    <div id="button-startnew"></div>
                </div>
            </div>

            <div class="flex-row">
                <div>Konfiguration</div>
                <div class="col50">
                    <div id="selectbox-configuration"></div>
                    <div id="button-editconfiguration"></div>
                    <div id="popup-editconfiguration" >
                        <div class="label-key" id="label-key0"></div>
                        <div id="textbox-key0"></div>
                        <div class="label-key" id="label-key1"></div>
                        <div id="textbox-key1"></div>
                        <div class="label-key" id="label-key2"></div>
                        <div id="textbox-key2"></div>
                        <br><br>
                        <div class="flex-row space-evenly">
                            <div>
                                <div id="button-saveconfiguration"></div>
                            </div>
                            <div>
                                <div id="button-resetconfiguration"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-row">
                <div>Raspberry Pi</div>
                <div>
                    <div id="button-sudohalt"></div>
                    <div id="button-sudoreboot"></div>
                </div>
            </div>

            <div class="flex-row tm-background-output">
                <div>Akkuspannung</div>
                <div class="col50">
                    <div id="textbox-ubat"></div>
                </div>
            </div>

            <div class="flex-row tm-background-output">
                <div>CPU Temperatur</div>
                <div class="col50">
                    <div id="textbox-cputemp"></div>
                </div>
            </div>

            <div class="flex-row tm-background-output">
                <div>CPU Last</div>
                <div class="col50">
                    <div id="textbox-cpuload"></div>
                </div>
            </div>

            <div class="flex-row tm-background-output">
                <div>GPS Signal</div>
                <div class="col50">
                    <div id="textbox-gps"></div>
                </div>
            </div>

        </script>
    </body>
</html>